* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: none;
  border-radius: 10px;
  background-color: #1f1f1f;
  width: 40rem;
  margin-top: 10%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h1 {
  margin: 10px;
}
.quote-box {
  color: white;
  width: 95%;
  margin: 20px;
  margin-top: 20px;
  padding: 15px;
  padding-left: 2.2rem;
  border: 1px solid orange;
  border-radius: 10px;
}
.quote {
  font-size: 22px;
  font-family: cursive;
  margin: 5px;
  padding: 10px;
}
.author {
  font-size: 16px;
  margin: 10px;
  color: orange;
  text-transform: uppercase;
}
.container h1 {
  color: orange;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#generate-btn {
  padding: 10px;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: transparent;
  color: orange;
  width: 7rem;
}
#generate-btn:hover {
  color: white;
  background-color: orange;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

/* Loader */
.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.loader {
  display: none;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid orange;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
